# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# macOS
.DS_Store
**/.DS_Store

# App
*.app

# Env
.env
*.pem
